@font-face {
	font-family: Arvo;
	src: local("Arvo"), url(http://fonts.gstatic.com/s/arvo/v10/tDbD2oWUg0MKqScQ6w.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url(http://fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mO.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(http://fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUb.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans"), local("PTSans-Regular"), url(http://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEww.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url(http://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tKw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
