.col {
	margin: 0px 0px 0px 1.6%; float: left; display: block;
}
:first-child.col {
	margin-left: 0px;
}
.row {
	margin: 0px auto; clear: both;
}
.row::before {
	display: table; content: "";
}
.row::after {
	display: table; content: "";
}
.row::after {
	clear: both;
}
.grid_12_of_12 {
	width: 100%;
}
.grid_11_of_12 {
	width: 91.53%;
}
.grid_10_of_12 {
	width: 83.06%;
}
.grid_9_of_12 {
	width: 74.6%;
}
.grid_8_of_12 {
	width: 66.13%;
}
.grid_7_of_12 {
	width: 57.66%;
}
.grid_6_of_12 {
	width: 49.2%;
}
.grid_5_of_12 {
	width: 40.73%;
}
.grid_4_of_12 {
	width: 32.26%;
}
.grid_3_of_12 {
	width: 23.8%;
}
.grid_2_of_12 {
	width: 15.33%;
}
.grid_1_of_12 {
	width: 6.86%;
}
