* {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
body {
	margin: 0px; line-height: 1.5; font-size: 1rem;
}
::selection {
	background: rgb(87, 132, 254); color: rgb(255, 255, 255); text-shadow: none;
}
a {
	color: rgb(51, 51, 51); text-decoration: underline;
}
a:visited {
	color: rgb(102, 102, 102);
}
a:hover {
	color: rgb(180, 1, 1);
}
menu {
	padding: 0px;
}
td {
	vertical-align: top;
}
body {
	font: 400 1rem/1.5 "PT Sans", Helvetica, Arial, sans-serif; margin: 0px auto; padding: 0px; text-align: left; color: rgb(51, 51, 51); font-size-adjust: none; font-stretch: normal;
}
canvas {
	-ms-touch-action: double-tap-zoom;
}
embed {
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
object {
	max-width: 100%;
}
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}
img {
	border: 0px currentColor; border-image: none; height: auto; vertical-align: top; max-width: 100%;
}
.entry-content img {
	max-width: 100%;
}
.comment-content img {
	max-width: 100%;
}
.widget img {
	max-width: 100%;
}
img[class*='align'] {
	height: auto;
}
img[class*='wp-image-'] {
	height: auto;
}
img[class*='attachment-'] {
	height: auto;
}
img.size-full {
	height: auto; max-width: 100%;
}
img.size-large {
	height: auto; max-width: 100%;
}
img.header-image {
	height: auto; max-width: 100%;
}
img.wp-post-image {
	height: auto; max-width: 100%;
}
img.wp-smiley {
	padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; margin-top: 0px; margin-bottom: 0px; box-shadow: none;
}
.rsswidget img {
	padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; margin-top: 0px; margin-bottom: 0px; box-shadow: none;
}
h1 {
	color: rgb(51, 51, 51); font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-style: normal; font-weight: 400; margin-top: 0px;
}
h2 {
	color: rgb(51, 51, 51); font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-style: normal; font-weight: 400; margin-top: 0px;
}
h3 {
	color: rgb(51, 51, 51); font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-style: normal; font-weight: 400; margin-top: 0px;
}
h4 {
	color: rgb(51, 51, 51); font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-style: normal; font-weight: 400; margin-top: 0px;
}
h5 {
	color: rgb(51, 51, 51); font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-style: normal; font-weight: 400; margin-top: 0px;
}
h6 {
	color: rgb(51, 51, 51); font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-style: normal; font-weight: 400; margin-top: 0px;
}
h1 {
	line-height: 1.25; font-size: 3rem; margin-bottom: 0.62rem;
}
h2 {
	line-height: 1.1666; font-size: 2.25rem; margin-bottom: 0.5rem;
}
h3 {
	line-height: 1.2857; font-size: 1.75rem; margin-bottom: 0.37rem;
}
h4 {
	line-height: 1.25; font-size: 1.5rem; margin-bottom: 0.31rem;
}
h5 {
	line-height: 1.25; font-size: 1rem; margin-bottom: 0.31rem;
}
h6 {
	line-height: 1.2142; font-size: 0.87rem; margin-bottom: 0.31rem;
}
hr {
	margin: 1.5rem; border: 0px currentColor; border-image: none; height: 1px; background-color: rgb(204, 204, 204);
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
p {
	margin: 0px 0px 1.5rem; line-height: 1.5; font-size: 1rem;
}
ol {
	margin: 0px 0px 1.5rem; line-height: 1.5; font-size: 1rem;
}
ul {
	margin: 0px 0px 1.5rem; line-height: 1.5; font-size: 1rem;
}
dl {
	margin: 0px 0px 1.5rem; line-height: 1.5; font-size: 1rem;
}
address {
	margin: 0px 0px 1.5rem; line-height: 1.5; font-size: 1rem;
}
ul ul {
	margin-bottom: 0px;
}
ul ol {
	margin-bottom: 0px;
}
ol ol {
	margin-bottom: 0px;
}
ol ul {
	margin-bottom: 0px;
}
dt {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700;
}
b {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700;
}
strong {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700;
}
em {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: italic; font-weight: 400;
}
strong em {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: italic; font-weight: 700;
}
b em {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: italic; font-weight: 700;
}
ins {
	background: 0px 0px rgb(255, 249, 192); text-decoration: none;
}
a {
	color: rgb(51, 51, 51);
}
a:visited {
	color: rgb(102, 102, 102);
}
a:focus {
	outline: dotted thin; color: rgb(41, 151, 171);
}
a:hover {
	outline: 0px; color: rgb(41, 151, 171);
}
a:active {
	outline: 0px; color: rgb(41, 151, 171);
}
.alignleft {
	margin: 0px 1.25rem 1rem 0px; float: left; display: inline;
}
.alignright {
	margin: 0px 0px 1rem 1.25rem; float: right; display: inline;
}
.aligncenter {
	clear: both; margin-right: auto; margin-bottom: 1rem; margin-left: auto; display: block;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
blockquote {
	margin: 0px 0px 1.12rem 1.25rem; padding: 0px 0px 0px 1rem; border-left-color: rgb(51, 51, 51); border-left-width: 5px; border-left-style: solid;
}
blockquote.pull-right {
	margin: 0px 1.25rem 1.12rem 0px; padding: 0px 1rem 0px 0px; border-right-color: rgb(51, 51, 51); border-left-color: currentColor; border-right-width: 5px; border-left-width: 0px; border-right-style: solid; border-left-style: none; float: none;
}
blockquote p {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 1.5rem; font-style: italic; font-weight: 400; margin-bottom: 0px;
}
blockquote.pull-right p {
	text-align: right;
}
blockquote.pull-right small {
	text-align: right;
}
blockquote cite::before {
	content: "\2014 ";
}
blockquote cite {
	color: rgb(153, 153, 153); line-height: 1.125; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: normal; font-weight: 400; display: block;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left; font-weight: normal;
}
th {
	text-align: left; font-weight: normal;
}
td {
	text-align: left; font-weight: normal;
}
code {
	padding: 0px 0.18rem 0.12rem; border-radius: 3px; color: rgb(85, 85, 85); font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 0.75rem;
}
pre {
	padding: 0px 0.18rem 0.12rem; border-radius: 3px; color: rgb(85, 85, 85); font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 0.75rem;
}
code {
	padding: 0.12rem 0.25rem; border: 1px solid rgb(225, 225, 232); border-image: none; background-color: rgb(247, 247, 249);
}
abbr {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
dfn {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
acronym {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
.wp-caption {
	padding: 0.25rem; max-width: 100%;
}
.wp-caption .wp-caption-text {
	text-align: center; color: rgb(119, 119, 119); line-height: 1.5; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400;
}
.gallery-caption {
	text-align: center; color: rgb(119, 119, 119); line-height: 1.5; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400;
}
.entry-caption {
	text-align: center; color: rgb(119, 119, 119); line-height: 1.5; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400;
}
img.wp-smiley {
	padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; margin-top: 0px; margin-bottom: 0px; box-shadow: none;
}
.rsswidget img {
	padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; margin-top: 0px; margin-bottom: 0px; box-shadow: none;
}
.entry-content dl.gallery-item {
	margin: 0px;
}
.gallery-columns-1 .gallery-item a {
	width: auto; max-width: 100%;
}
.gallery .gallery-icon img {
	height: auto;
}
#primary .entry-content [id^='gallery-'] img {
	border: currentColor; border-image: none;
}
.assistive-text {
	position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
.menu-toggle {
	margin: 0px; line-height: 1.25; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 100%; font-style: normal; font-weight: 400; vertical-align: middle;
}
button {
	margin: 0px; line-height: 1.25; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 100%; font-style: normal; font-weight: 400; vertical-align: middle;
}
input {
	margin: 0px; line-height: 1.25; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 100%; font-style: normal; font-weight: 400; vertical-align: middle;
}
.menu-toggle {
	line-height: normal;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='button'] {
	width: auto;
}
.menu-toggle {
	padding: 0.5rem 0.87rem; border-radius: 4px; border: 1px solid rgb(230, 230, 230); border-image: none; text-align: center; color: rgb(51, 51, 51); line-height: 1.25; font-size: 1rem; margin-bottom: 0px; vertical-align: middle; display: inline-block; cursor: pointer; text-shadow: 0px 1px 1px rgba(255,255,255,0.75); background-color: rgb(235, 233, 235); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.btn {
	padding: 0.5rem 0.87rem; border-radius: 4px; border: 1px solid rgb(230, 230, 230); border-image: none; text-align: center; color: rgb(51, 51, 51); line-height: 1.25; font-size: 1rem; margin-bottom: 0px; vertical-align: middle; display: inline-block; cursor: pointer; text-shadow: 0px 1px 1px rgba(255,255,255,0.75); background-color: rgb(235, 233, 235); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
input[type='submit'] {
	padding: 0.5rem 0.87rem; border-radius: 4px; border: 1px solid rgb(230, 230, 230); border-image: none; text-align: center; color: rgb(51, 51, 51); line-height: 1.25; font-size: 1rem; margin-bottom: 0px; vertical-align: middle; display: inline-block; cursor: pointer; text-shadow: 0px 1px 1px rgba(255,255,255,0.75); background-color: rgb(235, 233, 235); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.menu-toggle {
	color: rgb(51, 51, 51); text-decoration: none;
}
a.btn {
	color: rgb(51, 51, 51); text-decoration: none;
}
.menu-toggle:hover {
	background-color: rgb(218, 216, 218);
}
.btn:hover {
	background-color: rgb(218, 216, 218);
}
.btn:active {
	background-color: rgb(218, 216, 218);
}
.btn.active {
	background-color: rgb(218, 216, 218);
}
.btn.disabled {
	background-color: rgb(218, 216, 218);
}
[disabled].btn {
	background-color: rgb(218, 216, 218);
}
:first-child.btn {
	
}
.menu-toggle:hover {
	color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(218, 216, 218);
}
.btn:hover {
	color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(218, 216, 218);
}
input[type='submit']:hover {
	color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(218, 216, 218);
}
.menu-toggle:focus {
	outline: rgb(51, 51, 51) dotted thin; outline-offset: -2px;
}
.btn:focus {
	outline: rgb(51, 51, 51) dotted thin; outline-offset: -2px;
}
input[type='submit']:focus {
	outline: rgb(51, 51, 51) dotted thin; outline-offset: -2px;
}
.menu-toggle:active {
	outline: 0px; top: 1px; position: relative; background-image: none; background-color: rgb(218, 216, 218);
}
.btn.active {
	outline: 0px; top: 1px; position: relative; background-image: none; background-color: rgb(218, 216, 218);
}
.btn:active {
	outline: 0px; top: 1px; position: relative; background-image: none; background-color: rgb(218, 216, 218);
}
input[type='submit']:active {
	outline: 0px; top: 1px; position: relative; background-image: none; background-color: rgb(218, 216, 218);
}
.btn.disabled {
	cursor: default; opacity: 0.65; box-shadow: none; background-image: none; background-color: rgb(218, 216, 218); -webkit-box-shadow: none; -moz-box-shadow: none;
}
[disabled].btn {
	cursor: default; opacity: 0.65; box-shadow: none; background-image: none; background-color: rgb(218, 216, 218); -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn.disabled:active {
	top: 0px;
}
[disabled].btn:active {
	top: 0px;
}
button.btn {
	
}
input[type='submit'].btn {
	
}
.btn-large {
	padding: 0.62rem 0.93rem; border-radius: 5px; font-size: 1.25rem; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
input[type='submit'].btn-large {
	padding: 0.62rem 0.93rem; border-radius: 5px; font-size: 1.25rem; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn-small {
	padding: 0.31rem 0.56rem; font-size: 0.81rem;
}
input[type='submit'].btn-small {
	padding: 0.31rem 0.56rem; font-size: 0.81rem;
}
input[type='text'] {
	padding: 0.5rem; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: inherit;
}
input[type='password'] {
	padding: 0.5rem; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: inherit;
}
input[type='email'] {
	padding: 0.5rem; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: inherit;
}
input[type='url'] {
	padding: 0.5rem; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: inherit;
}
textarea {
	padding: 0.5rem; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: inherit;
}
select {
	max-width: 100%;
}
.gallery .gallery-item {
	margin: 10px 1% 0px; text-align: center; float: left;
}
.gallery-columns-1 .gallery-item {
	margin: 10px 0px 0px; width: 100%;
}
.gallery-columns-2 .gallery-item {
	width: 47.5%;
}
.gallery-columns-3 .gallery-item {
	width: 31%;
}
.gallery-columns-4 .gallery-item {
	width: 22.5%;
}
.gallery-columns-5 .gallery-item {
	width: 17.75%;
}
.gallery-columns-6 .gallery-item {
	width: 14%;
}
.gallery-columns-7 .gallery-item {
	width: 12%;
}
.gallery-columns-8 .gallery-item {
	width: 10.25%;
}
.gallery-columns-9 .gallery-item {
	width: 9%;
}
.archive-title {
	text-transform: uppercase; line-height: 2; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: normal; font-weight: 700;
}
.page-title {
	text-transform: uppercase; line-height: 2; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: normal; font-weight: 700;
}
.entry-content th {
	text-transform: uppercase; line-height: 2; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: normal; font-weight: 700;
}
.comment-content th {
	text-transform: uppercase; line-height: 2; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: normal; font-weight: 700;
}
.screen-reader-text {
	width: 1px; height: 1px; overflow: hidden; position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
	padding: 15px 23px 14px; border-radius: 3px; left: 5px; top: 5px; width: auto; height: auto; color: rgb(33, 117, 155); line-height: normal; font-size: 0.87rem; font-weight: bold; text-decoration: none; display: block; z-index: 100000; clip: auto !important; box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.6); background-color: rgb(241, 241, 241);
}
#wrapper {
	width: 100%; text-align: left; position: relative;
}
#headercontainer {
	width: 100%;
}
.site-header {
	margin: 0px auto; padding: 0px; width: 90%; color: rgb(0, 0, 0); clear: both; font-size: 1rem; position: relative; max-width: 1200px;
}
.site-title h1 {
	margin-top: 1.25rem;
}
.site-title img {
	vertical-align: text-bottom;
}
.site-title a {
	color: rgb(51, 51, 51); font-size: 4rem; text-decoration: none;
}
#bannercontainer {
	width: 100%; margin-top: 10px;
}
.banner {
	margin: 0px auto; padding: 0.93rem 0px; width: 90%; color: rgb(234, 234, 234); min-height: 75px; max-width: 1200px;
}
.home .banner .widget {
	margin: 1.5rem 0px;
}
.banner h1 {
	color: rgb(234, 234, 234);
}
.banner h2 {
	color: rgb(234, 234, 234);
}
.banner h3 {
	color: rgb(234, 234, 234);
}
.banner h4 {
	color: rgb(234, 234, 234);
}
.banner h5 {
	color: rgb(234, 234, 234);
}
.banner h6 {
	color: rgb(234, 234, 234);
}
.banner h1 {
	font-size: 3.5rem;
}
.banner h2 {
	font-size: 2rem;
}
#maincontentcontainer .home-sidebar .widget {
	padding: 0.62rem; border-radius: 5px; border: 1px solid rgb(187, 187, 187); border-image: none; background-clip: padding-box; background-color: rgb(252, 252, 252); -webkit-border-radius: 5px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
#maincontentcontainer {
	width: 100%;
}
.site-content {
	margin: 0px auto; padding: 2rem 0px; width: 90%; color: rgb(51, 51, 51); line-height: 1.5; clear: both; font-size: 1rem; position: relative; max-width: 1200px;
}
.home-sidebar {
	margin: 0px auto; width: 90%; padding-bottom: 2rem; max-width: 1200px;
}
.home.page .site-content {
	padding-bottom: 0px;
}
.home.page .site-content article {
	margin-bottom: 0px;
}
.social-media-icons {
	height: auto; float: right;
}
.social-media-icons ul {
	list-style: none; margin: 0.5em 0px 0px; padding: 0px;
}
.social-media-icons li {
	margin: 0.1em 0px 0px 0.6em; text-align: left; font-size: 0.6rem; display: inline-block;
}
.social-media-icons a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.social-media-icons a:visited {
	color: rgb(51, 51, 51);
}
.social-media-icons a:hover {
	color: rgb(41, 151, 171);
}
.social-media-icons a:active {
	color: rgb(41, 151, 171);
}
.entry-meta {
	clear: both;
}
.comments-link {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400; float: right;
}
.entry-header {
	margin-bottom: 1rem;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header h1 a:visited {
	color: rgb(51, 51, 51);
}
.entry-header h1 a:hover {
	color: rgb(41, 151, 171);
}
article.sticky .featured-post {
	text-align: center; color: rgb(119, 119, 119); line-height: 3; font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-size: 1rem; font-style: normal; font-weight: 400; margin-bottom: 1.5rem; border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); border-top-width: 4px; border-bottom-width: 4px; border-top-style: double; border-bottom-style: double;
}
article.sticky {
	border-bottom-color: rgb(170, 170, 170); border-bottom-width: 4px; border-bottom-style: double;
}
.site-content article {
	margin-bottom: 2.5rem; -ms-word-wrap: break-word; -webkit-hyphens: auto;
}
.header-meta {
	padding: 0.31rem 0px; margin-bottom: 0.62rem; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.header-meta::before {
	display: table; content: "";
}
.header-meta::after {
	display: table; content: "";
}
.header-meta::after {
	clear: both;
}
.header-meta a {
	text-decoration: none;
}
.header-meta a:visited {
	color: rgb(51, 51, 51);
}
.header-meta a:hover {
	color: rgb(41, 151, 171);
}
.entry-content {
	margin-bottom: 1.25rem;
}
.entry-content::before {
	display: table; content: "";
}
.entry-content::after {
	display: table; content: "";
}
.entry-content::after {
	clear: both;
}
.post-categories a {
	margin: 0px 0.18rem 0px 0px; padding: 0px 0.31rem; color: rgb(255, 255, 255); font-size: 0.87rem; text-decoration: none; display: inline; background-color: rgb(51, 51, 51);
}
.post-tags a {
	margin: 0px 0.18rem 0px 0px; padding: 0px 0.31rem; color: rgb(255, 255, 255); font-size: 0.87rem; text-decoration: none; display: inline; background-color: rgb(51, 51, 51);
}
.post-categories a:visited {
	color: rgb(255, 255, 255);
}
.post-tags a:visited {
	color: rgb(255, 255, 255);
}
.post-categories a:hover {
	color: rgb(255, 255, 255); background-color: rgb(41, 151, 171);
}
.post-tags a:hover {
	color: rgb(255, 255, 255); background-color: rgb(41, 151, 171);
}
.entry-header address {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: italic; font-weight: 400; display: block;
}
.comment-content address {
	font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: italic; font-weight: 400; display: block;
}
.entry-header address {
	display: inline;
}
.entry-header time {
	margin: 0px 1.25rem 0px 0px; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400;
}
.entry-header address {
	margin: 0px 1.25rem 0px 0px; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400;
}
.page-links {
	color: rgb(51, 51, 51); line-height: 1.75; clear: both;
}
.page-links .page-numbers {
	padding: 0.12rem 0.25rem; border: 1px solid rgb(51, 51, 51); border-image: none; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.page-links a {
	text-decoration: none;
}
.page-links a .page-numbers {
	color: rgb(51, 51, 51); background-color: transparent;
}
.page-links a:hover .page-numbers {
	color: rgb(255, 255, 255); background-color: rgb(41, 151, 171);
}
.more-link {
	text-decoration: none;
}
.post-edit-link {
	text-decoration: none;
}
.entry-content dl {
	margin: 0px 1.5rem;
}
.comment-content dl {
	margin: 0px 1.5rem;
}
.entry-content dt {
	line-height: 1.5; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700;
}
.comment-content dt {
	line-height: 1.5; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700;
}
.entry-content dd {
	line-height: 1.5; margin-bottom: 1.5rem;
}
.comment-content dd {
	line-height: 1.5; margin-bottom: 1.5rem;
}
.entry-content table {
	margin: 0px 0px 1.5rem; width: 100%; line-height: 2; font-size: 0.87rem; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.comment-content table {
	margin: 0px 0px 1.5rem; width: 100%; line-height: 2; font-size: 0.87rem; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.entry-content table caption {
	margin: 1.5rem 0px; font-size: 1rem;
}
.comment-content table caption {
	margin: 1.5rem 0px; font-size: 1rem;
}
.entry-content td {
	padding: 0.37rem 0.62rem 0.37rem 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.comment-content td {
	padding: 0.37rem 0.62rem 0.37rem 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.entry-content ol {
	margin: 0px 0px 1.5rem; padding: 0px; line-height: 1.5;
}
.comment-content ol {
	margin: 0px 0px 1.5rem; padding: 0px; line-height: 1.5;
}
.entry-content ul {
	margin: 0px 0px 1.5rem; padding: 0px; line-height: 1.5;
}
.comment-content ul {
	margin: 0px 0px 1.5rem; padding: 0px; line-height: 1.5;
}
.entry-content ul ul {
	margin-bottom: 0px;
}
.comment-content ul ul {
	margin-bottom: 0px;
}
.entry-content ol ol {
	margin-bottom: 0px;
}
.comment-content ol ol {
	margin-bottom: 0px;
}
.entry-content ul ol {
	margin-bottom: 0px;
}
.comment-content ul ol {
	margin-bottom: 0px;
}
.entry-content ol ul {
	margin-bottom: 0px;
}
.comment-content ol ul {
	margin-bottom: 0px;
}
.entry-content ul {
	
}
.comment-content ul {
	
}
.entry-content ol {
	list-style: decimal;
}
.comment-content ol {
	list-style: decimal;
}
.entry-content li {
	margin: 0px 0px 0px 1.75rem;
}
.comment-content li {
	margin: 0px 0px 0px 1.75rem;
}
.author .archive-header {
	margin-bottom: 1.5rem;
}
.author-info {
	margin: 1.5rem 0px; padding: 1.5rem 0px; overflow: hidden; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.author-info::before {
	display: table; content: "";
}
.author-info::after {
	display: table; content: "";
}
.author-info::after {
	clear: both;
}
.author-description h2 {
	font-size: 1.5rem;
}
.author-description p {
	color: rgb(119, 119, 119); line-height: 1.5; font-size: 0.87rem; margin-bottom: 0.5rem;
}
.author-link {
	font-size: 0.87rem;
}
.author-link a {
	color: rgb(119, 119, 119); text-decoration: none;
}
.author-link a:visited {
	color: rgb(102, 102, 102);
}
.author-link a:focus {
	outline: 0px; color: rgb(41, 151, 171);
}
.author-link a:hover {
	outline: 0px; color: rgb(41, 151, 171);
}
.author-link a:active {
	outline: 0px; color: rgb(41, 151, 171);
}
.author.archive .author-info {
	margin: 0px 0px 3rem; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.author.archive .author-avatar {
	margin-top: 0px;
}
.author.archive .author-link {
	display: none;
}
.author-avatar {
	margin-top: 0.5rem; float: left;
}
.author-description {
	width: 80%; float: right;
}
.social-meta a {
	text-decoration: none; margin-right: 0.31rem;
}
.entry-media {
	margin: 0px auto 1rem; width: 100%; max-width: 792px;
}
.entry-media .wp-caption {
	margin: 0px auto;
}
.entry-media .wp-caption-text {
	margin: 0px auto;
}
.entry-media [class*='align'] {
	margin: 0px auto;
}
.format-aside .entry-content {
	margin: 1.25rem 0px 1.12rem;
}
.format-aside .entry-content p:last-child {
	margin-bottom: 0px;
}
.format-status .entry-content {
	margin: 1.25rem 0px 1.12rem; padding: 0px 0px 0px 0.93rem; border-left-color: rgb(221, 221, 221); border-left-width: 5px; border-left-style: solid;
}
.format-status .entry-content p {
	font-size: 1.25rem; font-style: italic;
}
.format-status .entry-content p:last-child {
	margin-bottom: 0px;
}
.format-quote .entry-content blockquote::before {
	left: 0px; top: -15px; color: rgb(221, 221, 221); font-family: "FontAwesome"; font-size: 2.5rem; font-style: normal; font-weight: normal; vertical-align: top; position: absolute; z-index: -1; content: "\f10d"; speak: none;
}
.format-quote .entry-content {
	margin-top: 1.5rem; position: relative;
}
.format-quote .entry-content blockquote {
	border: currentColor; border-image: none; margin-left: 2.5rem;
}
.format-audio .wp-audio-shortcode {
	margin-bottom: 1rem;
}
.archive-header {
	margin-bottom: 2rem; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.page-header {
	margin-bottom: 2rem; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.archive-meta {
	color: rgb(119, 119, 119); line-height: 2; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400; margin-top: 1rem;
}
.comments-title {
	line-height: 1.5; font-size: 2rem; font-weight: normal; margin-bottom: 3rem;
}
.comments-area article {
	margin: 1.5rem 0px; padding-bottom: 1rem; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.comments-area article header {
	margin: 0px 0px 1.5rem; overflow: hidden; position: relative;
}
.comments-area article header img {
	padding: 0px; line-height: 0; float: left;
}
.comments-area article header cite {
	margin-left: 5.25rem; display: block;
}
.comments-area article header time {
	margin-left: 5.25rem; display: block;
}
.comments-area article header cite {
	line-height: 1.5; font-size: 1rem; font-style: normal;
}
.comments-area article header time {
	color: rgb(94, 94, 94); line-height: 1.8; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: italic; font-weight: 400; text-decoration: none;
}
.comments-area article header a {
	color: rgb(94, 94, 94); text-decoration: none;
}
.comments-area article header a:hover {
	color: rgb(33, 117, 155);
}
.comments-area article header cite a {
	color: rgb(68, 68, 68);
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	padding: 0.5rem 0.87rem; border-radius: 3px; border: 1px solid rgb(0, 124, 189); border-image: none; top: 0px; right: 0px; color: rgb(255, 255, 255); font-size: 0.87rem; font-weight: normal; position: absolute; background-image: -ms-linear-gradient(rgb(0, 156, 238), rgb(0, 136, 208)); background-repeat: repeat-x; background-color: rgb(0, 136, 208);
}
.comments-area li.bypostauthor cite span {
	padding: 0.12rem 0.37rem; font-size: 0.75rem; margin-left: 0.37rem; position: absolute;
}
a.comment-reply-link {
	color: rgb(104, 104, 104); line-height: 1.8; font-size: 0.87rem; text-decoration: none;
}
a.comment-reply-link:hover {
	color: rgb(33, 117, 155);
}
.commentlist .pingback {
	line-height: 1.8; padding-bottom: 0px; margin-bottom: 1.5rem;
}
.commentlist .children {
	margin-left: 3rem;
}
.commentlist {
	padding-left: 0px;
}
#respond {
	margin-top: 3rem;
}
#respond h3#reply-title #cancel-comment-reply-link {
	font-size: 0.75rem; font-weight: normal; margin-left: 0.75rem;
}
#respond form {
	margin: 1.5rem 0px 2rem;
}
#respond form p {
	margin: 0.75rem 0px;
}
#respond form p.logged-in-as {
	margin-bottom: 1.5rem;
}
#respond form label {
	line-height: 1.8; display: block;
}
#respond form input[type='text'] {
	padding: 0.5rem; width: 100%; line-height: 1.8; font-family: inherit; font-size: 1rem; box-sizing: border-box; -moz-box-sizing: border-box;
}
#respond form textarea {
	padding: 0.5rem; width: 100%; line-height: 1.8; font-family: inherit; font-size: 1rem; box-sizing: border-box; -moz-box-sizing: border-box;
}
#respond form input[type='text'] {
	width: 48%;
}
#respond form p.form-allowed-tags {
	margin: 0px; color: rgb(94, 94, 94); line-height: 1.5; font-size: 0.75rem;
}
#respond form p.form-allowed-tags code {
	background: none; border: currentColor; border-image: none; color: rgb(94, 94, 94);
}
label .required {
	color: rgb(187, 5, 4);
}
span.required {
	color: rgb(187, 5, 4);
}
form label.error {
	margin: 0.31rem 0px; padding: 0px 0.62rem; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 0.87rem; font-style: normal; font-weight: 700; border-left-color: rgb(187, 5, 4); border-left-width: 4px; border-left-style: solid; display: none;
}
#respond form label.error {
	line-height: 1.3;
}
#footercontainer {
	width: 100%;
}
.site-footer {
	margin: 0px auto; padding: 1.87rem 0px 0px; width: 90%; color: rgb(153, 153, 153); clear: both; font-size: 1rem; max-width: 1200px;
}
.site-footer h3 {
	color: rgb(204, 204, 204);
}
.site-footer a {
	color: rgb(153, 153, 153);
}
.site-footer a:visited {
	color: rgb(153, 153, 153);
}
.site-footer a:hover {
	color: rgb(41, 151, 171);
}
.site-footer a:focus {
	outline: dotted thin; color: rgb(41, 151, 171);
}
.site-footer .widget-area .widget {
	margin-bottom: 1rem;
}
.smallprint {
	width: 90%; color: rgb(153, 153, 153); max-width: 1200px;
}
.smallprint p {
	font-size: 0.87rem;
}
.smallprint a {
	color: rgb(85, 85, 85);
}
.smallprint a:visited {
	color: rgb(85, 85, 85);
}
.smallprint a:hover {
	color: rgb(41, 151, 171);
}
.widget-area ul {
	list-style: none; padding-left: 0px;
}
.widget-area .widget {
	margin-bottom: 3rem; -ms-word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}
.widget select {
	margin-left: 0.06rem;
}
.widget-area .widget ul ul {
	margin-left: 0.75rem;
}
.widget_rss li {
	margin: 0.75rem;
}
.widget_recent_entries .post-date {
	font-size: 0.75rem; margin-left: 0.75rem;
}
.widget_rss .rss-date {
	font-size: 0.75rem; margin-left: 0.75rem;
}
#wp-calendar {
	margin: 0px; width: 100%; line-height: 2; font-size: 0.87rem;
}
#wp-calendar th {
	text-align: center;
}
#wp-calendar td {
	text-align: center;
}
#wp-calendar caption {
	text-align: center;
}
#wp-calendar thead {
	border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#wp-calendar caption {
	text-align: left; text-transform: uppercase; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700;
}
#wp-calendar #today {
	background-color: rgb(221, 221, 221);
}
#wp-calendar tfoot {
	border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#wp-calendar #next {
	text-align: right; padding-right: 1.5rem;
}
.widget_search label {
	line-height: 1.5; font-size: 0.87rem;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	text-align: right; display: block;
}
.site-content nav {
	line-height: 2; overflow: hidden; clear: both;
}
#nav-above {
	padding: 1.5rem;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	width: 50%; line-height: 1.3; float: left;
}
.previous-image {
	width: 50%; line-height: 1.3; float: left;
}
.nav-previous a {
	text-decoration: none;
}
.nav-next a {
	text-decoration: none;
}
.nav-next {
	width: 50%; text-align: right; line-height: 1.3; float: right;
}
.next-image {
	width: 50%; text-align: right; line-height: 1.3; float: right;
}
.nav-single + .comments-area {
	margin: 3rem 3rem 3rem 0px;
}
#comment-nav-above {
	margin: 3rem 3rem 3rem 0px;
}
ul.page-numbers {
	margin: 0px; padding: 0px; text-align: center; line-height: 2;
}
li a.page-numbers {
	padding: 0.31rem; border: 1px solid rgb(51, 51, 51); border-image: none; text-decoration: none;
}
li span.page-numbers {
	padding: 0.31rem; border: 1px solid rgb(51, 51, 51); border-image: none; text-decoration: none;
}
li a.page-numbers:visited {
	color: rgb(51, 51, 51);
}
li a.page-numbers:hover {
	color: rgb(255, 255, 255); background-color: rgb(41, 151, 171);
}
li a.prev:hover {
	color: rgb(41, 151, 171); background-color: transparent;
}
li a.next:hover {
	color: rgb(41, 151, 171); background-color: transparent;
}
.page-numbers li {
	display: inline;
}
li span.current {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
li a.prev {
	border: currentColor; border-image: none;
}
li a.next {
	border: currentColor; border-image: none;
}
li span.dots {
	border: currentColor; border-image: none;
}
.main-navigation {
	margin: 2.81rem 0px 0px; text-align: left; clear: right; float: right;
}
.main-navigation h1 {
	line-height: 1.25; font-size: 2rem;
}
.nav-menu {
	line-height: 1.5; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 1.12rem; font-style: normal; font-weight: 700;
}
.main-navigation ul {
	list-style: none; margin: 0px; padding: 0px;
}
.main-navigation li {
	margin: 0px 0px 0px 1.25rem; float: left; position: relative;
}
.main-navigation ul ul li {
	margin: 0px;
}
.main-navigation li.menu-parent-item > a::after {
	font-family: "FontAwesome"; font-size: 0.56rem; font-style: normal; font-weight: normal; vertical-align: middle; content: " \f078"; speak: none;
}
.main-navigation ul li li.menu-parent-item > a::after {
	font-family: "FontAwesome"; font-size: 0.56rem; font-style: normal; font-weight: normal; vertical-align: middle; content: " \f054"; speak: none;
}
.main-navigation ul a {
	padding: 0px;
}
.main-navigation ul ul a {
	padding: 0px 0.31rem;
}
.main-small-navigation a {
	color: rgb(51, 51, 51); text-decoration: none; display: block;
}
.main-navigation a {
	color: rgb(51, 51, 51); text-decoration: none; display: block;
}
.main-navigation ul ul {
	left: 0px; line-height: 1.7; display: none; position: absolute; z-index: 99999; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6); background-color: rgb(51, 51, 51); -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.6);
}
.main-navigation ul ul ul {
	left: 100%; top: 0px;
}
.main-navigation ul ul a {
	width: 10.5em; color: rgb(255, 255, 255);
}
.main-navigation ul ul li {
	
}
.main-navigation li:hover > a {
	color: rgb(41, 151, 171);
}
.main-navigation ul ul :hover > a {
	color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.main-navigation ul ul a:hover {
	color: rgb(41, 151, 171);
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a {
	
}
.main-navigation li.current-menu-item a {
	
}
.main-navigation .current-menu-item > a {
	color: rgb(41, 151, 171);
}
.main-navigation .current-menu-ancestor > a {
	color: rgb(41, 151, 171);
}
.main-navigation .current_page_item > a {
	color: rgb(41, 151, 171);
}
.main-navigation .current_page_ancestor > a {
	color: rgb(41, 151, 171);
}
.main-navigation .current_page_parent > a {
	color: rgb(41, 151, 171);
}
.main-navigation ul .divider {
	height: 0px; line-height: 0.0625; overflow: hidden; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
.main-navigation ul li.dropdown-header a {
	color: rgb(170, 170, 170); background-color: rgb(51, 51, 51);
}
.main-navigation ul li.current-menu-item ul .dropdown-header a {
	color: rgb(170, 170, 170); background-color: rgb(51, 51, 51);
}
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .nav-menu {
	display: none;
}
#lang_sel {
	width: 65%; height: 35px;
}
#lang_sel li {
	width: 100%;
}
#lang_sel ul ul {
	top: 35px; width: 100%;
}
#lang_sel a.lang_sel_sel {
	border-radius: 3px;
}
#lang_sel a {
	padding: 5px 0px 5px 10px; font-size: 1rem;
}
#lang_sel a:visited {
	padding: 5px 0px 5px 10px; font-size: 1rem;
}
.main-navigation .menu-item-language .iclflag {
	margin-top: 7px;
}
#lang_sel .iclflag {
	margin-top: 2px;
}
#lang_sel .lang_sel_sel .iclflag {
	margin-top: 6px;
}
#lang_sel_footer .iclflag {
	margin-top: 6px;
}
#lang_sel_footer .icl_lang_sel_current {
	margin-top: 6px;
}
h1.page-title {
	color: rgb(51, 51, 51); font-family: "Arvo", Georgia, "Times New Roman", Times, serif; font-style: normal; font-weight: 400; margin-top: 0px;
}
h1.page-title {
	line-height: 1.25; font-size: 3rem;
}
.woocommerce .woocommerce-info::before {
	color: rgb(41, 151, 171);
}
.woocommerce-page .woocommerce-info::before {
	color: rgb(41, 151, 171);
}
.woocommerce .woocommerce-message::before {
	color: rgb(41, 151, 171);
}
.woocommerce-page .woocommerce-message::before {
	color: rgb(41, 151, 171);
}
.woocommerce .woocommerce-info {
	border-color: rgb(41, 151, 171);
}
.woocommerce-page .woocommerce-info {
	border-color: rgb(41, 151, 171);
}
.woocommerce .woocommerce-message {
	border-color: rgb(41, 151, 171);
}
.woocommerce-page .woocommerce-message {
	border-color: rgb(41, 151, 171);
}
.woocommerce #content div.product p.price {
	color: rgb(41, 151, 171);
}
.woocommerce #content div.product span.price {
	color: rgb(41, 151, 171);
}
.woocommerce div.product p.price {
	color: rgb(41, 151, 171);
}
.woocommerce div.product span.price {
	color: rgb(41, 151, 171);
}
.woocommerce-page #content div.product p.price {
	color: rgb(41, 151, 171);
}
.woocommerce-page #content div.product span.price {
	color: rgb(41, 151, 171);
}
.woocommerce-page div.product p.price {
	color: rgb(41, 151, 171);
}
.woocommerce-page div.product span.price {
	color: rgb(41, 151, 171);
}
.woocommerce ul.products li.product .price {
	color: rgb(41, 151, 171);
}
.woocommerce-page ul.products li.product .price {
	color: rgb(41, 151, 171);
}
.woocommerce ul.products li.product .price {
	color: rgb(41, 151, 171);
}
.woocommerce-page ul.products li.product .price {
	color: rgb(41, 151, 171);
}
.woocommerce a.button {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce button.button {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce input.button {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce #content input.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce #respond input.alt#submit {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce a.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce button.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce input.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce-page #content input.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce-page #respond input.alt#submit {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce-page a.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce-page button.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce-page input.button.alt {
	padding: 0.5em 0.75em; border: 1px solid rgb(41, 151, 171); border-image: none; color: rgb(255, 255, 255); text-shadow: none; background-color: rgb(41, 151, 171);
}
.woocommerce a.button:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce button.button:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce input.button:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce #content input.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce #respond input.alt#submit:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce a.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce button.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce input.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce-page #content input.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce-page #respond input.alt#submit:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce-page a.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce-page button.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce-page input.button.alt:hover {
	border: 1px solid rgb(32, 130, 148); border-image: none; color: rgb(255, 255, 255); background-color: rgb(32, 130, 148);
}
.woocommerce span.onsale {
	line-height: 2.6; min-height: 3em; min-width: 3em; background-color: rgb(54, 193, 218);
}
.woocommerce-page span.onsale {
	line-height: 2.6; min-height: 3em; min-width: 3em; background-color: rgb(54, 193, 218);
}
.woocommerce #content nav.woocommerce-pagination ul li span.current {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.woocommerce-page #content nav.woocommerce-pagination ul li span.current {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.woocommerce-page nav.woocommerce-pagination ul li span.current {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.woocommerce nav.woocommerce-pagination li a.page-numbers {
	padding: 0.31rem; border: 1px solid rgb(51, 51, 51); border-image: none; line-height: 1.25; text-decoration: none;
}
.woocommerce nav.woocommerce-pagination li span.page-numbers {
	padding: 0.31rem; border: 1px solid rgb(51, 51, 51); border-image: none; line-height: 1.25; text-decoration: none;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li {
	margin: 0px 0.1rem; border: currentColor; border-image: none;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers {
	border: currentColor; border-image: none;
}
.woocommerce nav.woocommerce-pagination li a.prev {
	border: currentColor; border-image: none;
}
.woocommerce nav.woocommerce-pagination li a.next {
	border: currentColor; border-image: none;
}
.woocommerce nav.woocommerce-pagination li span.dots {
	border: currentColor; border-image: none;
}
.woocommerce nav.woocommerce-pagination li a.page-numbers:hover {
	color: rgb(255, 255, 255); background-color: rgb(41, 151, 171);
}
.woocommerce nav.woocommerce-pagination li a.prev:hover {
	color: rgb(41, 151, 171); background-color: transparent;
}
.woocommerce nav.woocommerce-pagination li a.next:hover {
	color: rgb(41, 151, 171); background-color: transparent;
}
.shipping-calculator-button {
	text-decoration: none;
}
.page-template-page-builderfullwidth.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row {
	width: 90%; max-width: 1200px;
}
.page-template-page-builderblank.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row {
	width: 90%; max-width: 1200px;
}
.page-template-page-builderboxed.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_row {
	width: 90%; max-width: 1200px;
}
.page-template-page-builderfullwidth.wpb-js-composer .vc_row {
	margin-right: 0px; margin-left: 0px;
}
.page-template-page-builderblank.wpb-js-composer .vc_row {
	margin-right: 0px; margin-left: 0px;
}
.page-template-page-builderfullwidth.siteorigin-panels .panel-grid {
	margin-right: 0px !important; margin-left: 0px !important;
}
.page-template-page-builderblank.siteorigin-panels .panel-grid {
	margin-right: 0px !important; margin-left: 0px !important;
}
@media only screen and (max-width:1100px)
{
.site-title a {
	font-size: 3.25rem;
}
.banner h1 {
	font-size: 2.75rem;
}
.banner h2 {
	font-size: 1.5rem;
}
}
@media only screen and (max-width:980px)
{
.main-navigation {
	margin: 2.37rem 0px 0px;
}
}
@media only screen and (max-width:900px)
{
.banner .grid_6_of_12 {
	width: 100%;
}
.banner h1 {
	text-align: center;
}
.banner h2 {
	text-align: center;
}
.banner p {
	text-align: center;
}
.main-navigation {
	margin: 2rem 0px 0px;
}
}
@media only screen and (max-width:800px)
{
header .grid_5_of_12 {
	width: 100%;
}
header .grid_7_of_12 {
	width: 100%; margin-left: 0px;
}
header .main-navigation {
	margin-top: 0px; float: none;
}
.main-navigation .nav-menu > li:first-child {
	margin-left: 0px;
}
.social-media-icons {
	text-align: left; float: none;
}
.social-media-icons li {
	margin: 0.1em 0.5em 0px 0px;
}
}
@media only screen and (max-width:650px)
{
.grid_1_of_12 {
	width: 100%;
}
.grid_2_of_12 {
	width: 100%;
}
.grid_3_of_12 {
	width: 100%;
}
.grid_4_of_12 {
	width: 100%;
}
.grid_5_of_12 {
	width: 100%;
}
.grid_6_of_12 {
	width: 100%;
}
.grid_7_of_12 {
	width: 100%;
}
.grid_8_of_12 {
	width: 100%;
}
.grid_9_of_12 {
	width: 100%;
}
.grid_10_of_12 {
	width: 100%;
}
.grid_11_of_12 {
	width: 100%;
}
.grid_12_of_12 {
	width: 100%;
}
.col {
	margin: 0px;
}
.main-small-navigation .nav-menu {
	padding: 0px;
}
.nav-menu ul {
	padding: 0px;
}
.main-small-navigation .nav-menu ul {
	padding-left: 1rem;
}
}
@media only screen and (max-width:520px)
{
.site-title h1 {
	text-align: center;
}
.main-small-navigation .nav-menu {
	padding: 0px;
}
.main-small-navigation .nav-menu ul {
	padding: 0px;
}
.nav-menu {
	padding: 0px;
}
.nav-menu ul {
	padding: 0px;
}
.main-small-navigation {
	width: 100%;
}
.main-navigation li {
	width: 100%;
}
.main-small-navigation {
	text-align: center;
}
.main-small-navigation ul li {
	margin: 5px 0px; text-align: center; background-color: rgb(255, 255, 255);
}
.main-navigation ul li {
	margin: 5px 0px; text-align: center; background-color: rgb(255, 255, 255);
}
.main-navigation ul ul {
	position: relative;
}
.main-navigation ul ul li ul {
	position: relative;
}
.main-navigation ul ul li ul {
	left: 0px;
}
.main-navigation ul ul a {
	width: 100%; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.social-media-icons {
	text-align: center;
}
}
@media only screen and (max-width:320px)
{
.author-description {
	width: 100%; float: left;
}
}
.ir {
	border: 0px currentColor; border-image: none; text-align: left; text-indent: -999em; overflow: hidden; display: block; direction: ltr; background-repeat: no-repeat; background-color: transparent;
}
.ir br {
	display: none;
}
.hidden {
	display: none !important; visibility: hidden;
}
.visuallyhidden {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.visuallyhidden.focusable:active {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.visuallyhidden.focusable:focus {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix::before {
	display: table; content: "";
}
.clearfix::after {
	display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.clearfix {
	
}
@media print
{
* {
	background: none !important; color: black !important; filter: none !important; box-shadow: none !important; text-shadow: none !important;
}
a {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a[href]::after {
	content: " (" attr(href) ")";
}
abbr[title]::after {
	content: " (" attr(title) ")";
}
.ir a::after {
	content: "";
}
a[href^='javascript:']::after {
	content: "";
}
a[href^='#']::after {
	content: "";
}
pre {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
blockquote {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr {
	page-break-inside: avoid;
}
img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p {
	orphans: 3; widows: 3;
}
h2 {
	orphans: 3; widows: 3;
}
h3 {
	orphans: 3; widows: 3;
}
h2 {
	page-break-after: avoid;
}
h3 {
	page-break-after: avoid;
}
}
