/**
*   OfLive: main css stylesheet, contains all styling for container of the main window
**/

body
{
    background-color: black;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.emscripten
{
    top: 55px;
}

#output {
    width: 99%;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    background-color: black;
    color: white;
    font-family: 'Lucida Console', Monaco, monospace;
    outline: none;
}